<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.AdminMapper">
    <select id="selectAll" resultType="com.example.springboot.entity.Admin">
        SELECT * FROM admin
            <where>
                <if test="name != null">
                    name like concat('%',#{name},'%')
                </if>
            </where>
            order by id asc
    </select>
    
    <insert id="insert" parameterType="com.example.springboot.entity.Admin">
        INSERT INTO `admin` (`username`,`password`,`name`,`avatar`,`phone`,`email`,`role`,`created_at`,`updated_at`)
        VALUES (#{username},#{password},#{name},#{avatar},#{phone},#{email},#{role},#{createdAt},#{updatedAt})
    </insert>
    
    <update id="updateById" parameterType="com.example.springboot.entity.Admin">
        update `admin` set username=#{username},password=#{password},name=#{name},avatar=#{avatar},phone=#{phone},email=#{email},role=#{role},created_at=#{createdAt},updated_at=#{updatedAt}
        where id=#{id}
    </update>
</mapper>